################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OR-M Data Entities/.vs/OR-M Data Entities/v14/.suo

/packages
